.sidebar {
    text-transform: uppercase;
}

.sbHeading {
    font-family: "Rubik", sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.sidebar .tabIcon {
    width: 19px;
    height: 18px;
    margin: 0 11px 1px 0;
    object-fit: contain;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--black);
}

.sidebar .tab {
    /*margin: 44px 0 17px;*/
    padding: 0;
    color: #666666;
}

.sidebar .tab svg {
    margin: 17px 12px 18px 19px;
}

.sidebar .tab.tabText {
    margin: 1px 0 0 11px;
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}

.sidebar .tab.tabActive {
    height: 50px;
    /*padding: 0 87px 0 0;*/
    background-color: #fafafa;
    border-style: solid;
    border-left-width: 4px;
}

.sidebar .tab.tabActive svg {
    margin-left: 15px;
}

.sidebar .tab.tabDisabled {
    opacity: 0.3;
}
